@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/jsgrid.css" rel="stylesheet" />*@

<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-header-left">
                        <input type="text" id="SubCategorySearch" class="form-control" placeholder="Search..." style="max-width:100%;border-radius:10px" />
                        <span class="input-group-btn">
                            <button class="btn" style="color:white;padding-right:10px;padding-left:10px;border-radius:10px" onclick="searchBySubCategory()">
                                <i class="search-icon-black"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <a class="btn-primary btn pull-right" href="@Url.Action("Manage", "SubCategory",new { Id = Guid.Parse("00000000-0000-0000-0000-000000000000") })">Add New Sub Category</a>
                    @*<ol class="breadcrumb pull-right">
                            <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                            <li class="breadcrumb-item">Digital</li>
                            <li class="breadcrumb-item active">Product List</li>
                        </ol>*@
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    @*<div class="card-header">

                        </div>*@

                    <div class="card-body">

                        <div id="divSubCategory" class="table-responsive">

                        </div>
                        <br />
                        <div id="divSubCategoryPaging" style="padding:0px 10px 10px 0px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</div>

<style type="text/css">
    .footable tbody tr td {
        vertical-align: top !important;
    }
</style>

@section Scripts{
    <script type="text/javascript">
        var searchOrder = '';
        var searchComp = '';
        $(document).ready(function () {

            $('.dvloader').fadeIn();
            var success = '@TempData["Success"]';
            var msg = '@TempData["Msg"]';
            if (success == 'True') { Toastrtimer(true, msg); }
            else if (success == 'False') { Toastrtimer(false, msg); }
            if ($('#SubCategorySearch').val() == '') {
                SearchFilter(1, '')
            }
            else if ($('#SubCategorySearch').val() != '') {
                SearchFilter(1, $('#SubCategorySearch').val())
            }
            $('th.footable-sortable').click(function (e) {
                if ($(this).hasClass('footable-sorted')) // asc
                {
                    searchOrder = 'desc'
                } else {
                    searchOrder = 'asc'
                }
                searchComp = $(this)[0].id;
            });
            $('.dvloader').fadeOut();
        });

        function DeleteCancel() {
            $('#Mdl_DeleteMAD').modal('hide');
        }

        function deleteSubCategory(ref, SubCategoryId) {
            var SubCategory = $(ref).parent().parent().children()[2].innerText;
            $('#hdnDeleteId').val(SubCategoryId);
            $('#dynamic_delbody').html("Are you sure you want to delete '" + SubCategory + "' SubCategory?");
            $('#Mdl_DeleteMAD').modal('show');
        }

        function DeleteOk() {
            var delId = $('#hdnDeleteId').val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteSubCategory","SubCategory")',
                data: "SubCategoryId=" + delId,
                success: function (data) {
                    if (data.success == true) {
                        SearchFilter(1, '');
                    }
                    window.location.href = '@Url.Action("Index","SubCategory")'
                    $('.iCheck-helper').iCheck({
                        checkboxClass: 'icheckbox_flat-red',
                        radioClass: 'iradio_flat-red'
                    });
                }
            });
        }

        function SearchFilter(pageNum, Filter) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("BindSubCategoryList", "SubCategory")',
                data: {
                    'pageNo': pageNum,
                    'whereQuery': '',
                    'orderByQuery': searchComp + ' ' + searchOrder,
                    'Search': Filter
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status) {
                        $("#divSubCategory").html(data.html);
                        $("#divSubCategoryPaging").html(data.htmlPaging);
                    }

                    $('.iCheck-helper').iCheck({
                        checkboxClass: 'icheckbox_flat-red',
                        radioClass: 'iradio_flat-red'
                    });
                    $('.iCheck-helper').on("click", function () {

                        var SubCategoryId = $(this).siblings()[0].id.split('_')[1];
                        var SubCategoryName = $(this).siblings()[0].id.split('_')[2];
                        var Status = $(this).siblings()[0].checked;
                        $('#dynamic_body').html("Are you sure you want to Change the Status of '" + SubCategoryName + "' SubCategory ?");
                        $('#hdnUpdateId').val(SubCategoryId);
                        $('#hdnStatus').val(Status);
                        $('#Mdl_UpdateStatus').modal('show');
                    });

                    //$('[data-toggle="tooltip"]').tooltip({ 'placement': 'top' });
                    //$('.tooltips').powerTip();
                    $('.footable').footable({
                        paginate: false
                    });

                    $(window).trigger('resize');

                    $('th.footable-sortable').click(function (e) {
                        if ($(this).hasClass('footable-sorted')) // asc
                        {
                            searchOrder = 'desc'
                        } else {
                            searchOrder = 'asc'
                        }
                        searchComp = $(this)[0].id;
                        SearchFilter(pageNum, Filter);
                    });
                },
                error: function (data) {
                    //$('#dvloader').hide();
                }
            });
        };
        function UpdateStatusOk() {
            var updateId = $('#hdnUpdateId').val();
            var status = $('#hdnStatus').val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateStatus","SubCategory")',
                data: "SubCategoryId=" + updateId + "&status=" + status,
                success: function (data) {
                    var scs = data.success;
                    var msg = data.msg;
                    if (scs == true) {
                        SearchFilter(1, '');
                        //Toastrtimer(data.success, data.msg);
                    }
                    else {
                        SearchFilter(1, '');
                    }
                    $('.iCheck-helper').iCheck({
                        checkboxClass: 'icheckbox_flat-red',
                        radioClass: 'iradio_flat-red'
                    });
                }
            })
        }

    </script>
}