@model MyAamdhani.Models.SubCategoryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Portfolio</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">portfolio</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- Our Project Start -->
<section class="portfolio-section portfolio-padding grid-portfolio ratio2_3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 bold text-center text-capitalize">
                <h3>@Model.Title</h3>
            </div>
        </div>
        <br />
        <hr />

        <div class="row  zoom-gallery">
            @if (Model.SubcategoryItemList != null)
            {
                foreach (var item in Model.SubcategoryItemList)
                {
                    <div class="isotopeSelector filter fashion col-lg-3 col-sm-6">
                        <div class="overlay">
                            <div class="border-portfolio">
                                <a href="@item.ImagePath"  onclick="gotodetails(this)"  data-prodKey="@item.ProductUniqueKey">
                                    <img src="@item.ImagePath"
                                         class="img-fluid blur-up lazyload bg-img">
                                </a>
                                <div class="text-center">
                                    <strong>@item.Name</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="isotopeSelector filter fashion col-lg-3 col-sm-6">
                    <div class="overlay">
                        <div class="border-portfolio">
                            <div class="text-center">
                                <strong>No Products</strong>
                            </div>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</section>
<!-- Our Project End -->
<script>
    function gotodetails(e) {
        var url = "../ProductDetails/?prodKey=" + $(e).attr("data-prodKey");
        location.href = url;
    };
</script>